---
permalink: /404.html
layout: wrapper
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 8vw; padding-right:8vw; position: relative; overflow: hidden">
    {% include menu.html button=""%}
    <div class="row"><div class="col offset-lg-4" style="padding-top: 20em; padding-bottom: 50em">
          <h1 id="home-header">Page not found.</h1>
    </div></div>
    {% include circle.html mobile="hide-mobile" color="dblue" size="30" top="10" left="-15" z="0"%}
    {% include circle.html mobile="hide-mobile" color="lblue" size="35" top="17" left="90" z="0"%}
    {% include circle.html mobile="hide-mobile" color="white" size="28" top="-20" left="180" z="0"%}
    {% include circle.html mobile="hide-mobile" color="dorange" size="15" top="90" left="20" z="0"%}
    {% include circle.html mobile="hide-mobile" color="lorange" size="20" top="100" left="110" z="0"%}
    {% include circle.html mobile="hide-mobile" color="navy" size="10" top="60" left="160" z="0"%}
</div>
