<div class="proj-prev {{ include.type }} all">
  <div class="row {{ include.right }}" style="padding-top: 5em; padding-bottom: 5em">
    <div class="col-8 col-lg-9 align-self-center">
      <h1 class="title">{{ include.name }}, <span class="hide-xl"><br></span><span class="position avoidwrap">{{ include.title }}</span></h1>
      <h3 class="desc">{{ include.content }}</h3>
    </div>
    <div class="col-4 col-lg-3">
      <img src="../assets/img/portraits/{{ include.name }}.jpg" style="max-height:100%; max-width: 100%">
    </div>
  </div>

  <div class="row {{ include.left }}" style="padding-top: 5em; padding-bottom: 5em">
    <div class="col-4 col-lg-3">
      <img src="../assets/img/portraits/{{ include.name }}.jpg" style="max-height:100%; max-width: 100%">
    </div>
    <div class="col-8 col-lg-9 align-self-center">
      <h1 class="title">{{ include.name }}, <span class="hide-xl"><br></span><span class="position avoidwrap">{{ include.title }}</span></h1>
      <h3 class="desc">{{ include.content }}</h3>
    </div>
  </div>
</div>



<style>
  .desc { font-size: 2.8em }
  .title { font-size: 3.4em }
  .position { font-family: Montserrat-R; font-size: inherit }

  .hide { display: none }

  @media only screen and (max-width: 1199px) { .hide-xl { display: inline } }
  @media only screen and (min-width: 1200px) { .hide-xl { display: none } }
</style>
