<div class="circle rellax {{ include.mobile }}" style="background-color: var(--{{ include.color }});
                           width: {{ include.size }}vw;
                           height: {{ include.size }}vw;
                           top: {{ include.top }}em;
                           left: {{ include.left }}vw;
                           z-index: {{ include.z }};
                           "></div>

<style>
  .circle{
    border-radius: 50%;
    position: absolute !important;
    z-index: 1;
  }
</style>
