<div class="container-fluid hide-mobile" style="background-color:var(--grey); padding-left:5vw; padding-right:5vw; min-height:600px; position:relative; z-index: 5">
  <div class="row justify-content-between" style="padding-top: 100px; margin-left:2vw; margin-right:2vw">
        <div class="col-3">
          <h1 id='footer-connect'>Connect <br> with us<span class="big-period" style='color:var(--lorange)'>.</span></h1>
        </div>

        <div class="col-2 footer-text">
          <h1 class="mb-5">Menu</h1>
          <h2>
              <a href="/work">work</a><br>
              <a href="/skills">skills</a><br>
              <a href="/jobs">jobs</a><br>
              <a href="/about">about</a><br>
              <a href="/contact">contact</a>
          </h2>
        </div>
        <div class="col-2 footer-text">
          <h1 class="mb-5">Contact</h1>
          <h2>
            <a target="_blank" href="https://mymediacreative.typeform.com/to/KeQjBw">work with us</a> <br>
            <a target="_blank" href="https://mymediacreative.typeform.com/to/b9U3k7">join our team</a><br>
            <a target="_blank" href="https://mymediacreative.typeform.com/to/d0WtUy">learn with us</a>
          </h2>
        </div>
        <div class="col-3 footer-text">
          <h1 style="margin-bottom: 1.7em">Follow us</h1>
          <a href="https://www.facebook.com/mymediacreativegroup"><img src="../assets/icons/social-fb.png" class="icon"></a>
          <a href="https://www.instagram.com/mymediacreative/"><img src="../assets/icons/social-ig.png" class="icon"></a>
          <a href="https://www.linkedin.com/company/my-media-creative/"><img src="../assets/icons/social-li.png" class="icon"></a>
          <a href="https://www.youtube.com/channel/UCBtnLqiba6ACrA63AHFTMUw"><img src="../assets/icons/social-yt.png" class="icon"></a>
          <a class="uf" href="#"><h2 class="emails" style="margin-top: 2em">outreach@mymediacreative.org</h2></a>
          <a class="uf" href="#"><h2 class="emails">mymediacreative.org</h2></a>
        </div>
  </div>
</div>

<div class="container-fluid show-mobile" style="background-color:var(--grey); padding-left:7vw; padding-right:7vw; min-height:600px">
  <div class="row justify-content-between" style="padding-top: 80px; margin-left:3vw; margin-right:3vw">
        <div class="col">
          <h1 id='footer-connect'>Connect <br> with us<span class="big-period" style='color:var(--lorange)'>.</span></h1>
        </div>
  </div>
  <div class="row justify-content-between" style="padding-top: 30px; margin-left:3vw; margin-right:3vw">
        <div class="col-6 footer-text">
          <h1 class="mb-5">Menu</h1>
          <h2>
              <a href="/work">work</a><br>
              <a href="/skills">skills</a><br>
              <a href="/jobs">jobs</a><br>
              <a href="/about">about</a><br>
              <a href="/contact">contact</a>
          </h2>
        </div>
        <div class="col-6 footer-text">
          <h1 class="mb-5">Contact</h1>
          <h2>
              <a target="_blank" href="https://mymediacreative.typeform.com/to/KeQjBw">work with us</a> <br>
              <a target="_blank" href="https://mymediacreative.typeform.com/to/b9U3k7">join our team</a><br>
              <a target="_blank" href="https://mymediacreative.typeform.com/to/d0WtUy">learn with us</a>
          </h2>
        </div>
  </div>
  <div class="row" style="padding-top: 30px; margin-left:3vw; margin-right:3vw; padding-bottom: 10em">
        <div class="col footer-text">
          <h1 style="margin-bottom: 1.7em">Follow us</h1>
          <a href="https://www.facebook.com/mymediacreativegroup"><img src="../assets/icons/social-fb.png" class="icon-mobile"></a>
          <a href="https://www.instagram.com/mymediacreative/"><img src="../assets/icons/social-ig.png" class="icon-mobile"></a>
          <a href="https://www.linkedin.com/company/my-media-creative/"><img src="../assets/icons/social-li.png" class="icon-mobile"></a>
          <a href="https://www.youtube.com/channel/UCBtnLqiba6ACrA63AHFTMUw"><img src="../assets/icons/social-yt.png" class="icon-mobile"></a>
          <a class="uf" href="#"><h2 class="emails" style="margin-top: 2em">outreach@mymediacreative.org</h2></a>
          <a class="uf" href="#"><h2 class="emails">mymediacreative.org</h2></a>
        </div>
  </div>
</div>

<style>
  .footer-text > h2 { line-height: 2.5 }
  .emails { font-size: 1.8em; line-height: 1.5 }
  img.icon-mobile { display: inline; height: 2.5vw; width: 2.5vw; min-height: 30px; min-width: 30px; margin-right: 4em }
  img.icon { display: inline; height: 2.5vw; width: 2.5vw; min-height: 30px; min-width: 30px; margin-right: 2em }
</style>
