<!-- <div class="row"><div class="col-12 img-wrap" style="margin-bottom:{{ include.bottom-mar }}em; text-align: center; position:relative; z-index: 5">
  <img class="img-port" src="../assets/img/{{ page.fname }}/{{ page.fname}}{{ include.num }}.png">
</div></div> -->

<div class="row"><div class="col-12" style="margin-bottom:{{ include.bottom-mar }}em; text-align: center; position:relative; z-index: 5">
  <img class="img-port" src="../assets/img/{{ page.fname }}/{{ page.fname}}{{ include.num }}.png">
</div></div>
