<div class="col-md-6 {{ include.type }} all proj-prev">
  <div class="contain">
    <a href="/work/{{ include.shortname }}"><img src="../assets/img/{{ include.shortname }}/thumbnail.png" style="display: block" class="image"></a>
    <div class="mid">
        <img src="../assets/img/{{ include.shortname }}/logo.png" style="display: block; opacity: 1" class="image">
    </div>
  </div>
  <a href="/work/{{ include.shortname }}"><h1 class="pl-1 pt-3 thumbnail-title">{{ include.fullname }}</h1></a>
  <h3 class="thumbnail-title" style="padding-bottom: 3em">{{ include.subtitle }}</h3>
</div>

<style>
  h1.thumbnail-title {
    text-align: center;
    color: black;
    margin-bottom: 0
  }
  h3.thumbnail-title { text-align: center }

  /* This is ugly but it's what gives the hover logo effect */

  .contain { position: relative }
  .contain:hover .image { opacity: 0.1 }
  .contain:hover .mid { opacity: 1 }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .8s ease-out;
    transition-delay: .1s;
    backface-visibility: hidden;
  }
  .mid {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
</style>
