---
layout: "wrapper"
title: Skills
permalink: /skills
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--navy); padding-left: 8vw; padding-right:8vw; position: relative; z-index: 2">
    {% include menu-white.html button="skills" percolor="lorange"%}
    <div class="row"><div class="col-11 offset-md-1 header w">
          <h1>A hands-on learning program where you develop creative skills while helping a nonprofit.</h1>
          <h2>We'll pair you with an under-resourced nonprofit that needs digital content, and give you the support you need to learn creative skills while getting the job done.</h2>
    </div></div>
    {% include circle.html color="dorange" size="25" top="20" left="10" z="0"%}
    {% include circle.html color="lblue" size="10" top="80" left="80" z="0"%}
</div>

<!-- 1 2 3 -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 14vw; padding-right:14vw; position: relative; z-index: 3">
      <div class="row justify-content-end" style="padding-top: 30em"><div class="col-8 col-md-7 numbered">
          <h1><span style="font-family: Montserrat-L; font-size:inherit">1 / 3</span><br><br>
            We give you <span style="color: var(--dorange);  font-size: inherit">the brief</span>.</h1>
          <h2><br>We start by briefing you on the organizations you’re going to work with. Whether it’s a community-based soup kitchen or a policy advocacy group—these are orgs doing great things and they need your help.</h2>
          <!-- <a href="/skills"><h2 style="margin-top: 1.1em; font-family: Montserrat-S; color: var(--navy)">View our calendar.</h2></a> -->
      </div></div>

      <div class="row" style="padding-top: 30em"><div class="col-8 col-md-7 numbered">
          <h1><span style="font-family: Montserrat-L; font-size:inherit">2 / 3</span><br><br>
            We provide <span style="color: var(--dorange);  font-size: inherit">support</span>.</h1>
          <h2><br>It doesn’t matter what level of skill you are, we’ll give you the tools to get started. We’ll connect you to an experienced creative that can mentor you. We’ll create spaces for you to get feedback, ask questions, and improve. We’re here to guide you through this process.</h2>
          <!-- <a href="/skills"><h2 style="margin-top: 1.1em; font-family: Montserrat-S; color: var(--navy)">Get acquainted with some of our team members.</h2></a> -->
      </div></div>

      <div class="row justify-content-end" style="padding-top: 30em; padding-bottom: 30em"><div class="col-8 col-md-7 numbered">
          <h1><span style="font-family: Montserrat-L; font-size:inherit">3 / 3</span><br><br>
            You work with <span style="color: var(--dorange);  font-size: inherit">a real non-profit</span>.</h1>
          <h2><br>You’ll meet with a non-profit doing real and impactful  work in their community. They’ll tell you their goals, mission, and vision. After that, it’s your job to learn while creating something for them (with our support).</h2>
          <!-- <a href="/skills"><h2 style="margin-top: 1.1em; font-family: Montserrat-S; color: var(--navy)">See some of the work that our learners have put together.</h2></a> -->
      </div></div>

      {% include circle.html color="dblue" size="6" top="25" left="32" z="0"%}
      {% include circle.html color="lblue" size="15" top="60" left="15" z="0"%}
      {% include circle.html color="lorange" size="6" top="100" left="60" z="0"%}
      {% include circle.html color="navy" size="12" top="140" left="70" z="0"%}
      {% include circle.html color="lblue" size="4" top="160" left="37" z="0"%}
      {% include circle.html color="dorange" size="18" top="200" left="12" z="0"%}
      {% include circle.html color="dblue" size="15" top="250" left="83" z="0"%}

      <div class="row"><div class="col">
          <h1 style="margin-bottom: 1em">Want more information?</h1>
          <h2 style="margin-bottom: 1.5em">Just fill out the form below or email us to learn more or join the program! If you're in a nonprofit interested in working with us, email <a style="color: var(--dorange)" href="mailto:education@mymediacreative.org">education@mymediacreative.org</a>.</h2>
      </div></div>

      <div class="typeform-widget" data-url="https://form.typeform.com/to/d0WtUy" style="width: 100%; height: 600px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px; padding-bottom: 20em"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=d0WtUy&utm_source=typeform.com-01DTCM4CPT3HFJHMEKV1R4FE21-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

</div>

<!-- Map box -->
<!-- <div class="container-fluid" style="background-color:var(--grey); width: 88vw; padding-left: 6vw; padding-right: 9.5vw; position: relative; z-index: 4; margin-bottom: 20em">
  <div class="row" style="padding-top: 15em; padding-bottom: 5em"><div class="col">
      <h1>All of this is built around community.</h1>
      <h2><br>We know that connection and collaboration are at the essence of creativity. That's why we hold weekly Zoom meetings. These are spaces to connect, discuss, critique, and collaborate.</h2>
      <h2><br>We know that connection and collaboration are at the essence of creativity. That's why we hold weekly Zoom meetings at <a class="ul" href="#">this link</a>, at 5:30 pm, on Thursdays. These are spaces to connect, discuss, critique, and collaborate. Come around.</h2>
      <h2><br>We know that connection and collaboration are at the essence of creativity. That's why we hold weekly community meetings at Building 21 at 6:30 pm on Thursdays. These are spaces to connect, discuss, critique, and collaborate. Come around.</h2>
  </div></div>
  <div class="row"><div class="col">
    <img src="../assets/img/map.png" style="display: block; max-width: 100%; max-height: 100%;" class="image"></div>
  </div>
  <div class="row" style="padding-top:5em; padding-bottom: 10em"><div class="col-11">
    <h2 class="after-map-text"><span style="font-size: 1.4em; font-family: Montserrat-S">Want more information?</span><br>
          Come to our community meeting at <a style="color: var(--dorange)" href="#">Building 21, 651 Sherbrooke St W, Montreal H3A 1E3</a>.<br>
          Check out our full <a style="color: var(--dorange)" href="/skills">year long curriculum</a>.<br>
          Check out some of our <a style="color: var(--dorange)" href="#">tutorials</a> online.<br>
          Reach out to us at <a style="color: var(--dorange)" href="#">education@mymediacreative.org</a>.<br>
    </h2>
  </div></div> -->

<style>
  .edu-header { color: white }
  .after-map-text { line-height: 2.5 }

  .after-map-text { font-size: 2.5em }

  .numbered > h1 { font-size: 4.3em}
  .numbered > h2 { font-size: 2.7em}
</style>
