---
layout: "wrapper"
title: Home
permalink: /
---



<!-- Header -->
<div class="container-fluid video-container" style="background-color:var(--grey); padding-left: 8vw; padding-right:8vw">
    <video class="video-background" muted autoplay loop playsinline>
        <source src="../assets/Header.mp4" type="video/mp4">
    </video>
    {% include menu.html button="" percolor="dblue"%}
    <div class="row" style="min-height: 80vh">
      <div class="col-10 col-lg-9 offset-lg-1 align-self-center">
        <h1 id="home-header">A creative agency for the unheard.</h1>
        </div>
      </div>
    <div class="mobile-spacer show-mobile"></div>
</div>



<!-- "The voices" through to icons -->
<div class="container-fluid" style="background-color:var(--white); position: relative; z-index: 2; padding-left: 12vw; padding-right:12vw; overflow : hidden">
      <div class="row" style="padding-top: 20em">
        <div class="col">
          <h1>We lift up the voices fighting for justice, opportunity, and habitability.</h1>
          <h2><br>We are a youth-led creative agency that runs campaigns, creates content, builds brands, and makes websites for organizations that want to make the world better. We do:</h2>
        </div>
      </div>
      <div class="row justify-content-between icon-row">
        <div class="col-3"><div style="text-align:center"><img class="icon-skills" src="../assets/icons/icon-vid.png"></div><h1 class="icon-title">Video.</h1></div>
        <div class="col-3"><div style="text-align:center"><img class="icon-skills" src="../assets/icons/icon-des.png"></div><h1 class="icon-title">Design.</h1></div>
        <div class="col-3"><div style="text-align:center"><img class="icon-skills" src="../assets/icons/icon-web.png"></div><h1 class="icon-title">Web.</h1></div>
        <div class="col-3"><div style="text-align:center"><img class="icon-skills" src="../assets/icons/icon-strat.png"></div><h1 class="icon-title" style="padding-left:1em">Strategy.</h1></div>
      </div>
      {% include circle.html  color="lorange" size="10" top="60" left="8" z="0"%}
      {% include circle.html  color="dblue" size="10" top="80" left="80" z="3"%}
</div>

<!-- Portfolio preview box -->
<div class="container-fluid" style="background-color:var(--grey); width: 92vw; margin-left: 4vw; margin-right: 4vw; position: relative; z-index: 5">
  <div class="prev-row"><div class="row prev-row" style="padding-top: 15em; padding-bottom: 5em; padding-left: 15px"><h1>Our Work</h1></div></div>
  <div class="row pb-5 prev-row">
        <div class="col-xs-12 col-md-8">
          <div class="contain">
            <a href="/work/SOMM"><img src="../assets/img/SOMM/thumbnail.png" style="display: block" class="image"></a>
            <div class="mid"> <img src="../assets/img/SOMM/logo.png" style="display: block; opacity: 1" class="image"> </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 align-self-end">
          <a href="/work/SOMM"><h1 class="py-3 thumbnail-title">The School of Music Montreal</h1></a>
          <h3 class="thumbnail-title pb-5"">video</h3>
          <a href="/work/SOMM"><img class="arrow hide-mobile" src="../assets/icons/icon-arrow.png"></a>
        </div>
  </div>
  <div class="row py-5 prev-row">
        <div class="col-xs-12 col-md-8">
          <div class="contain">
            <a href="/work/indigirecruit"><img src="../assets/img/indigirecruit/thumbnail.png" style="display: block" class="image"></a>
            <div class="mid"> <img src="../assets/img/indigirecruit/logo.png" style="display: block; opacity: 1" class="image"> </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 align-self-end">
          <a href="/work/indigirecruit"><h1 class="py-3 thumbnail-title">IndigIrecruit</h1></a>
          <h3 class="thumbnail-title pb-5"">brand</h3>
          <a href="/work/indigirecruit"><img class="arrow hide-mobile" src="../assets/icons/icon-arrow.png"></a>
        </div>
        <div class="col">
          <h2 style="padding-bottom: 4em; padding-top: 2.5em; padding-left: 10px; font-size: 3em">Check out the rest of our portfolio <a class="ul" href="/work">here</a>.</h2>
        </div>
  </div>
</div>

<!-- "World changing" through to "Contact us" CTAs -->
<div class="container-fluid" style="background-color:var(--white); position: relative; z-index: 2; padding-left: 14vw; padding-right:14vw; overflow:hidden">
      <div class="row hide-row" style="margin-top: 30em">
        <div class="col-7 align-self-start" style="padding-bottom:30em">
          <h1>Every one of us has a world-changing idea to share, we just need to learn how.</h1>
        </div>
        <div class="col-5 align-self-end">
          <h2>We also help young people learn creative skills in a hands-on environment through workshops, mentorship, and goal-based learning.</h2>
          <a href="/skills"><h2 style="margin-top: 1.3em; font-family: Montserrat-S; color: var(--navy)">Find out more about our educational programs.</h2></a>
        </div>
      </div>
      <!-- this one needs a mobile version becuase the spacing is so unique -->
      <div class="row show-mobile" style="margin-top: 20em; margin-bottom: 10em">
        <div class="col-11">
          <h1>Every one of us has a world-changing idea to share, we just need to learn how.</h1>
        </div>
      </div>
      <div class="row show-mobile">
        <div class="offset-3 col-9">
          <h2>We also help young people learn creative skills in a hands-on environment through workshops, mentorship, and goal-based learning.</h2>
          <a href="/skills"><h2 style="margin-top: 1.3em; font-family: Montserrat-S; color: var(--navy)">Find out more about our educational programs.</h2></a>
        </div>
      </div>


      <div class="row" style="padding-top: 25em; padding-bottom: 7em">
        <div class="col align-self-start ">
          <h1>We want to hear <span class="avoidwrap"> from you!</span></h1>
        </div>
      </div>

      <div class="row align-items-start justify-content-between" style="padding-bottom: 25rem">
        <div class="col-md-5" style="padding-bottom:2em">
          <h2 style="color: var(--dorange); font-family: Montserrat-S">Interested in our services?</h2>
        </div>
        <div class="col-md-7">
          <h2>Do you create an impact with your work? Want to run a campaign? Build content or a brand? Let's start chatting about your project. Contact us <a class="ul" href="/contact">here</a>.</h2>
        </div>
      </div>

      <!-- <div class="row align-items-start justify-content-between" style="padding-top: 10em; padding-bottom: 25em">
        <div class="col-md-5"  style="padding-bottom:2em">
          <h2 style="color: var(--dorange); font-family: Montserrat-S">Want to join our team?</h2>
        </div>
        <div class="col-md-7 ">
          <h2>Want to help solve social and environmental problems using creativity? Think about joining our creative team. Contact us <a class="ul" href="/contact">here</a>.</h2>
        </div>
      </div> -->

      {% include circle.html mobile="hide-mobile" color="lblue" size="10" top="-15" left="75" z="0"%}
      {% include circle.html mobile="hide-mobile" color="dblue" size="15" top="25" left="2" z="0"%}
      {% include circle.html mobile="hide-mobile" color="dorange" size="5" top="70" left="47" z="0"%}

      {% include circle.html mobile="show-mobile" color="lblue" size="20" top="-15" left="65" z="0"%}
      {% include circle.html mobile="show-mobile" color="dblue" size="18" top="25" left="10" z="0"%}
      {% include circle.html mobile="show-mobile" color="dorange" size="12" top="110" left="84" z="0"%}
</div>

<style>
  .arrow { height: 2.7vw; min-height: 25px; padding-left: 2em }
  .icon-skills { height: 7vw; min-height: 30px; margin-bottom: 1em; display: inline }
  .icon-title { font-size: 2.5em; text-align: center }

  .thumbnail-title { padding-left: 10px }
  h1.thumbnail-title {
    text-align: left;
    color: black;
    margin-bottom: 0
  }
  h3.thumbnail-title { text-align: left }

  .icon-row { padding-top: 10em; padding-bottom: 10em }
  @media only screen and (max-width: 600px) { #home-header { font-size: 10em; padding-bottom: 20vh } }
  @media only screen and (min-width: 601px) { #home-header { font-size: 7em; padding-bottom: 20vh } }
  @media only screen and (min-width: 992px) { .icon-row { margin-right: 3em } #home-header { font-size: 6.5em; padding-bottom: 20vh } .prev-row { padding-left: 4em } }
  @media only screen and (min-width: 1640px) { .icon-row { margin-right: 3em } #home-header { font-size: 8em; padding-bottom: 20vh } .prev-row { padding-left: 4em } }

  /* This is ugly but it's what gives the hover logo effect */

  .contain { position: relative }
  .contain:hover .image { opacity: 0.1 }
  .contain:hover .mid { opacity: 1 }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .6s ease-out;
    transition-delay: .1s;
    backface-visibility: hidden;
  }
  .mid {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .hideThumbnail { display: none }

    .video-container {
        overflow: hidden;
        position: relative;
    }

    video {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      /* transform: translateX(-50%) translateY(-50%); */
    }

</style>
