---
layout: "wrapper"
title: Jobs
permalink: /jobs
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 8vw; padding-right:8vw; position: relative; overflow: hidden">
    {% include menu.html button="jobs" percolor="lorange" %}
    <div class="row">
        <div class="col-8 col-md-8 offset-md-1 header">
          <h1>We're always on the hunt for passionate people.</h1>
          <h2>Come join our creative team.</h2>
        </div>
        <div class="col-4 col-md-3">
          <img class="graphic float-left show-mobile" style="width: 100%; padding-left: 5em" src="../assets/icons/mmc-lines.png">
          <img class="graphic float-left hide-mobile" style="width: 90%; padding-left: 18em" src="../assets/icons/mmc-lines.png">
        </div>
    </div>
    {% include circle.html mobile="hide-mobile" color="lorange" size="10" top="80" left="8" z="0"%}
    {% include circle.html mobile="show-mobile" color="lorange" size="10" top="110" left="15" z="0"%}
</div>

<!-- "The voices" through to icons -->
<div class="container-fluid" style="background-color:var(--grey); position: relative; z-index: 2; padding-left: 12vw; padding-right:12vw">
      <div class="row"><div class="col" style="padding-top: 20em; padding-bottom: 10em">
          <h1>You’ll have a real impact with your creativity.</h1>
          <h2><br>Our creative team runs campaigns, creates content, builds brands, and makes websites for organizations that want to make the world better. We're looking for people who have skills in:</h2>
        </div>
      </div>
      <div class="row justify-content-between" style="margin-right: 5em; padding-bottom: 20em">
        <div class="col-3"><div style="text-align:center"><img class="icon-skills" src="../assets/icons/icon-vid.png"></div><h1 class="icon-title">Video.</h1></div>
        <div class="col-3"><div style="text-align:center"><img class="icon-skills" src="../assets/icons/icon-des.png"></div><h1 class="icon-title">Design.</h1></div>
        <div class="col-3"><div style="text-align:center"><img class="icon-skills" src="../assets/icons/icon-web.png"></div><h1 class="icon-title">Web.</h1></div>
        <div class="col-3"><div style="text-align:center; margin-right:2em"><img class="icon-skills" src="../assets/icons/icon-strat.png"></div><h1 class="icon-title">Strategy.</h1></div>
      </div>
</div>

<!-- Bullets through to Typeform embed -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 12vw; padding-right:12vw">
      <div class="row"><div class="col" style="padding-top: 20em; padding-bottom: 20em">
          <h1 style="margin-bottom: .7em">You should join our creative team if you:</h1>
          <ul>
            <li><h2><span class="dot">&#x25cf;</span>Want to have an impact.</h2></li>
            <li><h2><span class="dot">&#x25cf;</span>Want to be part of a supportive community.</h2></li>
            <li><h2><span class="dot">&#x25cf;</span>Want to get paid.</h2></li>
            <li><h2><span class="dot">&#x25cf;</span>Want to make cool things.</h2></li>
            <li><h2><span class="dot">&#x25cf;</span>Want to develop your craft.</h2></li>
            <li><h2><span class="dot">&#x25cf;</span>Want to build your portfolio.</h2></li>
            <li><h2><span class="dot">&#x25cf;</span>Want to expand your network.</h2></li>
          </ul>
      </div></div>

      <div class="row"><div class="col">
          <h1 style="margin-bottom: 1em">If you're interested, it's easy.</h1>
          <h2 style="margin-bottom: 1.5em">Just fill out the form below or email <a class="ul" href="#">outreach@mymediacreative.org</a>.</h2>
      </div></div>

      <div class="typeform-widget" data-url="https://form.typeform.com/to/b9U3k7" style="width: 100%; height: 600px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px; padding-bottom: 20em"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=b9U3k7&utm_source=typeform.com-01DTCM4CPT3HFJHMEKV1R4FE21-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

      {% include circle.html mobile="hide-mobile" color="lblue" size="21" top="185" left="6" z="0"%}
      {% include circle.html mobile="hide-mobile" color="navy" size="8" top="240" left="70" z="0"%}
</div>

<style>
  .r h1, .r h2{ text-align: right }

  .icon-title { font-size: 3em; text-align: center }
  .icon-skills { height: 7vw; min-height: 50px; margin-bottom: 1em }


  .graphic { width: 30vw; height: auto; position: absolute; top: -48vw; left: -5vw }

  ul { list-style: none; line-height: 2 }
  ul h2 { display: inline }
  /* ul li::before {
     content: "\2022";
     color: var(--dorange);
     display: inline-block;
     width: .1em;
     font-size: 10em;
     position: relative;
     z-index: 5;
  } */
  .dot {
    color: var(--dorange);
    display: inline-block;
    width: 2em; /* Spacing between bullet and text */
    font-size: 1em;
    position: relative;
    z-index: 5;
    line-height: 2;
  }
</style>
