---
layout: "wrapper"
---

<!-- Header -->
<div class="container-fluid" style="background-color:var(--white); padding-left: 8vw; padding-right:8vw">
    {% include menu.html button="work" percolor="dblue"%}
    <div class="row"><div class="col-lg-9" style="padding-top: 0; padding-bottom: 5em">
      <a href="/work"><img style="height:2.2vw; width:2.2vw; margin-left:.8em; margin-bottom: 1em" src="../assets/icons/icon-arrow-left.png"></a>
      <h1 class="home-header">{{ page.title }}<span style="color:var(--dorange)" class="big-period">.</span></h1>
      <p class="home-header">{{ page.type-work }}</p>
    </div></div>

    {{ content }}

    {% include circle.html color="lorange" size="6" top="80" left="6" z="0"%}
    {% include circle.html color="dblue" size="12" top="30" left="83" z="0"%}
    {% include circle.html color="lblue" size="21" top="170" left="31" z="0"%}
    {% include circle.html color="dblue" size="15" top="320" left="10" z="0"%}
    {% include circle.html color="dorange" size="15" top="390" left="75" z="0"%}
    <div class="row"><div class="col-1 arrow-wrap" style="padding-bottom: 20em; padding-top:5em; padding-right:0; margin-left: 1.3vw"><a href="/work"><img style="height:2.2vw; width:2.2vw" src="../assets/icons/icon-arrow-left.png"></a></div></div>
</div>

<style>
  h1.home-header { font-size: 9em }
  p.home-header { font-size: 4em }
  img { display: inline; max-width: 100%; max-height: 100%; }
  .img-wrap { width: 84vw; height: calc(84vw / 1.77); background-color: var(--grey) }

  @media only screen and (max-width: 767px) { .arrow-wrap { padding-left: 2em } }
  @media only screen and (min-width: 768px) { .arrow-wrap { padding-left: 0 } }

</style>
