<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G7VW2D5BYR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-G7VW2D5BYR');
  </script>

  <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="../assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="../assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="My Media is a mission-driven creative agency for the unheard.">
  <title>{{ page.title }} | My Media</title>
  <meta property="og:image" content="../assets/img/social-header.jpg">

  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/fonts.css">
  <link rel="stylesheet" href="../assets/css/fader.css">
  <link rel="stylesheet" href="../assets/css/screen-sizes.css">

</head>

<body id="body">
    <svg id="fader"></svg>
    <script src="../assets/js/fade.js"></script>
    <script> fadeInPage(); </script>
    <link rel="stylesheet" href="../assets/css/hamburger.css">
    <script src="../assets/js/hamburger.js"></script>
    <div class="container-fluid show-mobile" id="myNav">
      <div class="row align-items-center justify-content-end" style="height:30em; margin-left:-4vw; margin-right:-4vw">
            <div class="col-xs-2 mt-2 mx-4">
              <img src="../assets/icons/hamburger-x.png" style="height: 6vw; min-height: 25px; min-width: 25px" onclick="closeNav()">
            </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="overlay-content">
            <a class="hb-op" id="hb-home" href="/">home</a>
            <a class="hb-op" id="hb-work" href="/work">work</a>
            <a class="hb-op" id="hb-skills" href="/skills">skills</a>
            <!-- <a class="hb-op" id="hb-jobs" href="/jobs">jobs</a> -->
            <a class="hb-op" id="hb-about" href="/about">about</a>
            <a class="hb-op" id="hb-contact" href="/contact">contact</a>
            <!-- <a class="hb-op" id="hb-fr" href="#">fr</a> -->
        </div>
      </div>
    </div>

    {{ content }}
    <script src="../assets/js/rellax/rellax.min.js"></script>
    <script>
      var rellax = new Rellax('.rellax', {
      center: true
      });
    </script>
    {% include footer.html %}

</body>
</html>
